/* *** Custom Properties *** */
:root{
    --first-color: rgb(85, 85, 85);
    --first-alpha-color:  rgba(85,85,85,0.75);
    --second-color: rgb(0,0,0);
    --second-alpha-color: rgba(0,0,0,0.75);
    --third-color: rgb(30,30,30);
    --third-alpha-color: rgba(30,30,30,0.75);
    --white-color: #fff;
    --white-alpha-color: rgba(255,255,255,0.5);
    --black-alpha-color: rgba(0,0,0,0.5);
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-hight: 3rem;
}

/* *** Reset *** */
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);   
}

a{
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover{
    opacity: 0.75;
}

h1{
    margin: 0;
    font-size: 2rem;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: .85rem;
}

h6{
    margin: 0;
    font-size: .7rem;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
}

/* *** Components *** */

/* ******* Heroimage ******* */

.hero-image{
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
    height: 100vh;
    width: 100vw;
}

.hero-image-opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--opacity-color);
}

.hero-image-title{
    color: var(--hero-text-color);
    font-size: 7.5vw;
}

.hero-image-subtitle{
    color: var(--hero-text-color);
    flex-wrap: wrap;
    font-size: 4vw;
}

@media screen and (min-width: 768px){
    .hero-image-subtitle{
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1024px){
    .hero-image-subtitle{
        font-size: 1.70vw;
    }
}

/* ******* Menu ******* */
.menu-btn{
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    margin-right: 2.2rem;
    background-color: var(--second-color);
}

.menu-btn svg{
    fill: var(--first-color);
}

.menu{
    position: fixed;
    margin-right: 1.2rem;
    left: 0;
    bottom: var(--header-hight);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
}

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
    margin-bottom: 2rem;
}

.menu a{
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}

.menu a:hover{
    color: var(--white-color);
    background-color: var(--first-color);
}

@media screen and (min-width: 1024px){
    .menu-btn{
        display: none;
        padding-right: 0;
    }

    .menu{
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }

    .menu a{
        padding: 0 1rem;
    }

    .menu a:last-child{
        padding-right: 0;
    }

    .menu a:hover{
        background-color: transparent;
    }
}

/* *** *** Utilities *** *** */

.aptitudes-logos{
    width: 25vw;
    height: 25vh;
}

.bg-gray-light{
    background-color: var(--gray-light-color);
}

.box-shadow-1{
    box-shadow: .25rem, .25rem, 1rem, rgba(0,0,0,0.25);
}

.btn{
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;  
    color: var(--white-color);
    background-color: var(--gray-dark-color);
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.gray-scale{
    width: auto;
    height: 53.5vh;
    border-radius: 15px;    
}

.none{
    display: none;
}

.section{
    padding: 2rem 1rem;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}
@media screen and (min-width: 768px){
    .aptitudes-logos{
        width: 15vw;
        height: 15vh;
    }
}

@media screen and (min-width: 1024px){    
    .aptitudes-logos{
        width: 15vw;
        height: 15vh;
    }
    .full-lg-screen{
        width: 100%;
        min-height: 100vh;
    }

    .text-lg-center{
        text-align: center;
    }
    
    .text-lg-left{
        text-align: left;
    }
    
    .text-lg-right{
        text-align: right;
    }
}
/* *** Site styles *** */
.about-name{
    font-size: 5vw;
    margin-bottom: .5rem
}

.about-title{
    font-size: 8vw;
    margin-bottom: 2rem
}

.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-hight);
    background-color: var(--second-color);
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    color: var(--first-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
}

.skills-logos{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .about-name{
        font-size: 3.3vw;
    }
    
    .about-title{
        font-size: 6vw;
    }

    .skills > .container{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-content: center;
        padding: 2rem;
    }

    .skills .section-title{
        grid-column: span 2;
    }
    .skills .section-subtitle{
        grid-column: span 2;
    }
}

@media screen and (min-width: 1024px){
    .about{
        align-content: center;
    }
    
    .about-description{
        display: grid;
        grid-template-columns: repeat(3,25%);
        padding: 20;
        justify-content: space-evenly;
        align-content: center;
    }

    .about-name{
        font-size: 2vw;
    }
    
    .about-title{
        font-size: 3.3vw;
    }
    
    .header{
        position: sticky;
        top: 0;
        padding: .5rem;
        height: calc(var(--header-hight) - .5rem);
    }

    .skills > .container{        
        grid-template-columns: repeat(3, 30%);        
        padding: 2rem;
    }

    .skills .section-title{
        grid-column: span 3;
    }
    .skills .section-subtitle{
        grid-column: span 3;
    }

}